@import "tailwindcss";

@theme {
  --color-background: #050505;
  --color-foreground: #ededed;

  --font-sans: var(--font-inter), sans-serif;
  --font-serif: var(--font-instrument), serif;

  --animate-text-shimmer: text-shimmer 3s linear infinite;

  @keyframes text-shimmer {
    0% {
      background-position: 0% 50%;
    }

    100% {
      background-position: 200% 50%;
    }
  }
}

/* Base Styles */
:root {
  --background: #050505;
  --foreground: #ededed;
}

html,
body {
  background-color: var(--background);
  color: var(--foreground);
  overflow-x: hidden;

  /* ESCONDER SCROLLBAR GLOBALMENTE (Firefox) */
  scrollbar-width: none;
  -ms-overflow-style: none;
  /* IE/Edge */
}

/* ESCONDER SCROLLBAR GLOBALMENTE (Chrome, Safari, Opera, Edge Novo) */
::-webkit-scrollbar {
  display: none !important;
  width: 0px;
  background: transparent;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}