@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #050505;
  --foreground: #ededed;
}

html,
body {
  background-color: #050505;
  color: var(--foreground);
  overflow-x: hidden;
}